/* Reset some default styles */
body, h1, h2, p, a, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the content takes at least the full viewport height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

main {
    flex: 1; /* Take remaining vertical space */
    padding: 20px;
}

.event-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.event-details h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.event-info {
    margin-bottom: 20px;
}

.event-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    flex: 1;
    font-weight: bold;
}

.value {
    flex: 2;
    color: #555;
}

.event-description h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

.event-description p {
    font-size: 16px;
    color: #777;
}

.event-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
